body{
    margin: 0px;
    padding: 0px;
    background: blue;
}

form{
    margin: auto;
    background: white;
    width: 35%;
    border-radius: 30px;
    height: 500px;
}
input{
    padding: 15px;
    width:70%;
    border-radius: 10px;
    align-items: center;
    margin-left: 60px;
    border: 1px solid grey;
    outline: none;
}
h4{
    color: red;
    margin-left: 70px;
}
h2{
    text-align: center;
    padding-top: 10px;
}
h5{
    margin-left:75px;
}
h5 a{
    text-decoration:none;
    color: blue;
}
p{
    text-align: center;
}
button{
    margin-left: 80px;
    padding: 15px;
    width:70%;
    background-color: blue;
    border-radius: 10px;
    color: white;border: none;
}
h3{
   margin-left: 115px; 
   margin-top: 40px;
}
h3 span{
    color: blue;
}
h3 span a{
    text-decoration: none;
}
.form-group{
    margin-top: 60px;
    padding: 0px;
}
.form-group h4{
    margin-top:2px ;
}
.form-group1 h4{
    margin-top: 2px;
}
